.header__lang-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  line-height: 110%;
  color: #fff;
  padding-left: 18px;
  position: relative;
  top: 6px;
  transition: opacity;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media all and (min-width: 768px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 28px;  
  }
}