.places {
  padding-top: 0;
}

@media all and (min-width: 768px) {
  .places {
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media all and (min-width: 1024px) {
  .places {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media all and (min-width: 1280px) {
  .places {
    padding-left: 11.5%;
    padding-right: 11.5%;
  }
}