.place__image {
  width: 320px;
  padding-bottom: 10%;
}

@media all and (min-width: 375px) {
  .place__image {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media all and (min-width: 768px) {
  .place__image {
    width: 340px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media all and (min-width: 1024px) {
  .place__image {
  width: 440px;
  padding-bottom: 32px;
  }
}

@media all and (min-width: 1280px) {
  .place__image {
     width: 460px;
  }
}