.place__website-link {
  color: #fff;
  text-decoration: underline;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  align-self: flex-start;
  transition: opacity;
}

.place__website-link:hover {
  opacity: 0.8;
}