.place__website-link {
  color: #fff;
  text-decoration: underline;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  transition: opacity 0.5s linear 0.2s;
}

.place__website-link:hover {
  opacity: 0.6;
  color: #fff;
}