.intro {
  padding-top: 0;
  padding-bottom: 64px;
  padding-left: 5%;
}

@media all and (min-width: 768px) {
  .intro {
    padding-left: 3%;
    padding-bottom: 88px;
  }
}

@media all and (min-width: 1024px) {
  .intro {
    padding-left: 5%;
    padding-bottom: 92px;
  }
}

@media all and (min-width: 1280px) {
  .intro {
    padding-left: 11.5%;
  }
}