.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .cover {
    padding-left: 3.75%;
    padding-right: 3.75%;
  }
}