.cover__title {
  font-size: 32px;
  font-weight: 900;
  line-height: 109%;
  color: #fff;
  margin-top: 33px;
  margin-bottom: 5%;
  text-align: center;
  position: relative;
  z-index: 1;
}

@media all and (min-width: 375px) {
  .cover__title {
    margin-top: 15%;
  }
}

@media all and (min-width: 425px) {
  .cover__title {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media all and (min-width: 600px) {
  .cover__title {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;
  }
}

@media all and (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 105%;
    margin-top: 13%;
  }
}

@media all and (min-width: 1024px) {
  .cover__title {
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 19%;
  }
}

@media all and (min-width: 1280px) {
  .cover__title {
    line-height: 105%;
    font-size: 72px;
    margin-top: 20%;
  }
}